$pp-color: #058789;
$wp-color: #503D2E;
$pz-color: #D54B1A;
$es-color: #E3A72F;
$ll-color: #F0ECC9;

$primary-color: $pz-color;
$secondary-color: $pp-color;
$background-color: $ll-color;
$thumbnail-border: $wp-color;
$quiz-button-color: $pz-color;
$modal-header-color: $wp-color;
$light-color: $ll-color;